<% if current_user.can_track_stock?(stock.ticker) %>
  <%= link_to  "Add to portfolio", user_stocks_path(ticker: stock.ticker),  data: { turbo_method: :post }, class: "btn btn-sm btn-outline-success" %>
<% else %>
  <span class="badge text-bg-secondary">You are already tracking 
    <% if !current_user.under_stock_limit? %>
      10 stocks
    <% else %>
      this stock
    <% end %>
  </span>
<% end %>