<div id="results">
  <% if @stock %>
    <div class="card card-header d-flex flex-row justify-content-evenly align-items-center mt-5">
      <strong>Symbol: </strong> <%= @stock.ticker %>
      <strong>Name: </strong> <%= @stock.name %>
      <strong>Price: </strong> <%= @stock.price %>
      <%= render  "stocks/add_stock_option", stock: @stock %>
    </div>
  <% end %>
</div>
