<div id="results">
  <% if @stock %>
    <div class="card card-header d-flex flex-row mt-5">
      <strong>Symbol: </strong> <%= @stock.ticker %>
      <strong>Name: </strong> <%= @stock.name %>
      <strong>Price: </strong> <%= @stock.price %>
      <% unless current_user.stocks.map {|stock| stock.ticker}.include?(@stock.ticker) %>
        <%= link_to  "Add to portfolio", user_stocks_path(ticker: @stock.ticker),  data: { turbo_method: :post }, class: "btn btn-xs btn-outline-success" %>
      <% end %>
    </div>
  <% end %>
</div>
