<div id="results">
  <% if @users %>
    <div class="card card-header mt-5">
      <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Profile</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user|%>
          <tr>
            <th scope="row"><%= full_name(user) %></th>
            <td><%= user.email %></td>
            <td><%= link_to  "View profile", user_path(user), class: "btn btn-sm btn-outline-info" %></td>
            <td>
              <% if current_user.can_follow?(user) %>
                <%= link_to  "Follow", friendships_path(id: user.id),  data: { turbo_method: :post }, class: "btn btn-sm btn-outline-success" %>
              <% else %>
                <button class="btn btn-outline-secondary btn-sm" disabled>Following</button>
              <% end %>
            </td>
          </tr>
          <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
</div>
